{% extends 'base.html' %}
{% block title %}
<title>포트폴리오</title>
{% endblock %}
{% block content %}
<!--blog-->
<section class='portfolio'>
    <div lcass='inner'>
        <ul class='post-list'>
            {% for item in posts %}
            <li>
                <div class='card'>
                    <div class='card-inner'>
                        <a href="{% url 'post:detail' item.id %}">
                            <div class='card-img'>
                                <img src='{{ item.image.url }}' alt='{{ item.title }}' width='300px'>
                            </div>
                            <div class='card-title'>
                                <p>{{ item.title }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!--end blog-->
{% endblock %}